#play-ui {
    display: none;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 70px;
    color: white;

    #highest-timer {
        float: left;
        height: 100%;
        line-height: 1;
        font-size: 1.7em;
        text-align: center;
        margin-right: 20px;

        .label {
            font-size: 1.3em;
        }
        #highest-value {
            font-size: 3.6em;
        }
    }
    #current-timer {
        display: inline-block;
        font-size: 10em;
        line-height: 0.8;
        letter-spacing: -7px;
    }
}
